# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Pycharm
.idea

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache
nosetests.xml
coverage.xml
*,cover